{% ckan_extends %}

<!-- Navigation tabs -->
{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(
      ('home.index', _('Home')),
      ('dataset.search', _('Datasets')),
      ('home.about', _('About')),
      ('user.login', _('Log in'))
    ) 
  }}

  <li>
    <a aria-label="facebook" href="https://www.facebook.com/MineducGuate/"
      rel="noopener noreferrer">
    <i class="fa fa-facebook"></i>
  </li>
  </a>
  <li>
    <a aria-label="twitter" href="https://twitter.com/MineducGT" rel="noopener noreferrer">
    <i class="fa fa-twitter"></i>
    </a>
  </li>
{% endblock %}

{% block header_site_search %}
{% endblock %}